.App {
  text-align: center;
}
.list {
  text-align: left;
  padding-left : 20px;
  border-bottom : 1px solid;
}
span {
  cursor : pointer;
}
.modal {
  margin-top: 20px;
  text-align: left;
  padding: 5px 0 5px 20px;
  background-color: rgb(147, 164, 118);
}