.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.list > input {
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 15px 0;
}
.list > input:focus {
    outline: none;
    border-bottom: 1px solid rgb(57, 79, 20);
}
.todos_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}