.App {
  text-align: center;
}
.main-bg {
  height : 500px;
  /* background-image : url("./img/bgimg.jpg");   src/img폴더에 있을 때*/
  background-image : url("../public/img/bgimg.jpg");  /* public/img폴더에 있을 때 */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.col {
  margin: 30px 0;
}
.col img {
  width: 270px;
}
.gap {
  align-items: center;
  --bs-gutter-x: 0 !important;
}
.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: opacity 2s;
}
.start h1 {
  margin-top: 50px;
}
.cart {
  width: 70%;
  margin: 0 auto;
}