div{  /* div로 넣으면 무조건 root로 인식 (<></>, <Fragment></Fragment>)*/
  background-color : blue;
  color : white;
  padding : 50px;
  text-align : center;
}
h1 {
  color : red;
}
h3 {
  background-color : orange;
}
.class1 {
  color : yellow;
}
#id2 {
  color : gray;
}
