.todoItem {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}
.todoItem input {
    width: 20px;
}
.content {
    flex: 1;
}
.date {
    font-size: 14px;
    color: gray;
}
.todoItem button {
    cursor: pointer;
    color: white;
    background-color: red;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}